flask==2.0.1
flask-restful==0.3.10
flask-cors==5.0.0
python-dotenv==1.0.1
oss2==2.19.1
dashscope==1.20.14
moviepy==1.0.3
requests==2.31.0
werkzeug==2.0.1
supabase==2.13.0
yt-dlp==2024.12.23
pillow==10.4.0
numpy==2.2.0
python-socketio==5.12.1
redis==5.2.1
websocket-client==1.8.1
websockets==14.1
                                                                                                                         